Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-WTF==1.1.1
pyspark==3.4.1
pandas==2.0.3
plotly==5.15.0
numpy==1.24.3
pyodbc==4.0.39
Werkzeug==2.3.7
email-validator==2.0.0
Flask-Migrate==4.0.5